#h{
  background-color: green;
  text-align: center;
}
#container{
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  img{
    height: 90px;
    width: 90px;
    border-radius: 50px;
  }
  button{background-color: rgb(99, 97, 97);
  padding: 24px 23px;
    border-radius: 10px;
}
button:hover{background-color: rgb(180, 178, 178);
    cursor:crosshair;
    border-radius: 20px;

}
img:hover{
    height: 97px;
    width: 97px;
    cursor: alias;
}
  .div{
    border: 1px solid black;
    margin: 12px;
    text-align: center;
    border-radius: 12px;
    height:250px;
    width: 30%;
    padding-top: 15px;
    background-color: gainsboro;
    
    
  }
  .add{
    background-color: rgba(0, 0, 250, 0.776);
}
hr{
  font-size: 40px;
  color: black;
}
.fas{
  text-align: center;
  font-size: 34px;
  margin: auto;
}
.fas:hover{
  font-size: 38px;
  color: rgb(94, 94, 228);
}