*{background-color: rgba(16, 3, 54, 0.97);}
i{ color: white; margin-left: 35px ;}
.q{margin-left: 30%;}
img{height: 100px;width: 100px;border: black 1px solid;
border-radius: 60px; margin-left: 27px;}
.w{padding-left: 46px;}
i:hover{color: burlywood;}
h1{color: white; text-align: center;padding-top: 25px;}
h6{color: rgb(227, 223, 223); text-align: center;padding-top: 2px;}
div{text-align: center; color: white; border: 3px solid snow;
border-radius: 20px;width: 6%;}
p{}