*{background-color: rgb(16, 3, 54);}
i{ color: white; margin-left: 35px ;}
.q{margin-left: 30%;}
img{height: 100px;width: 100px;border: black 1px solid;
border-radius: 60px; margin-left: 27px;}
.w{padding-left: 46px;}