 *{text-align: center;font-family:IranNastaliq;font-size: largertr:
    text-transform:;}
 table,th,td{border-bottom:  groove 1px black; 
    border-collapse: collapse;}
    table{width: 90%;margin: auto;
    border-style: none solid groove solid;}
.q{width: 40%;}
tr:nth-child(even){background-color: gainsboro;}
tr:hover{background-color: rgb(66, 64, 64);color: aliceblue;}
th{height: 60px; vertical-align: top;
    background-color: rgb(57, 56, 56);color: aliceblue;}