 *{text-align: center;font-family:Sofia ;}
 table,th,td{border: groove 1px black; 
   border-collapse: collapse;font-size: 23px;}
   th.q{width: 20%;}
   tr:nth-child(even){background-color: gainsboro;}
   th{height: 60px; vertical-align: top;
      background-color: rgb(57, 56, 56);color: aliceblue;}
      tr:hover{background-color: rgb(66, 64, 64);color: aliceblue;}
div.div{overflow-x: scroll;
height: 300px; 
overflow-y: scroll;}
table{width: 55%;}
th.q{
  width: 200px;
}







.container{
  display: flex;
}
img{
  height: 90px;
  width: 90px;
  border-radius: 50px;
}
button{background-color: rgb(129, 126, 126);
padding: 24px 23px;}
.div{
  border: 1px solid black;
  margin: 12px;
  text-align: center;
  border-radius: 12px;
}